{% extends "./public/dashboardBase.html" %}
{% load static %}

{% block main_content %}



    <div id="page-wrapper" class="gray-bg">

        {% include 'webinterfaceapp/public/CommonHeadBar.html' %}

        <style type="text/css">
            @media screen and (max-width: 1400px) and (min-width: 800px) {

            }

            @media screen and (max-width: 2000px) and (min-width: 1401px) {

            }
        </style>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2>Home </h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="{% url 'webinterfaceapp:home' %}">Home</a>
                    </li>
                    <li class="">
                        <a href="{% url 'webinterfaceapp:home' %}">PCA</a>
                    </li>
                    <li class="active">
                        <a href="{% url 'webinterfaceapp:home' %}"><strong>Analytics</strong></a>
                    </li>
                </ol>
            </div>
            <div class="col-sm-8">

            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">

                <div class="col-md-4">
                    <div class="ibox">


                        <div class="ibox-content">


                            <!-- TradingView Widget BEGIN -->
                            <div class="tradingview-widget-container">
                                <div id="tv-medium-widget"></div>
                                <div class="tradingview-widget-copyright"><a
                                        href="https://www.tradingview.com/symbols/AAPL/" rel="noopener" target="_blank"><span
                                        class="blue-text">Apple</span></a>, <a
                                        href="https://www.tradingview.com/symbols/GOOGL/" rel="noopener"
                                        target="_blank"><span class="blue-text">Google</span></a> <span
                                        class="blue-text">and</span> <a href="https://www.tradingview.com/symbols/MSFT/"
                                                                        rel="noopener" target="_blank"><span
                                        class="blue-text">Microsoft Quotes</span></a></div>
                                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                                <script type="text/javascript">
                                    new TradingView.MediumWidget(
                                        {
                                            "container_id": "tv-medium-widget",
                                            "symbols": [
                                                [
                                                    "Apple",
                                                    "AAPL "
                                                ],
                                                [
                                                    "Google",
                                                    "GOOGL"
                                                ],
                                                [
                                                    "Microsoft",
                                                    "MSFT"
                                                ]
                                            ],
                                            "greyText": "Quotes by",
                                            "gridLineColor": "#e9e9ea",
                                            "fontColor": "#83888D",
                                            "underLineColor": "#dbeffb",
                                            "trendLineColor": "#4bafe9",
                                            "width": "460px",
                                            "height": "650px",
                                            "locale": "en"
                                        }
                                    );
                                </script>

                            </div>
                            <!-- TradingView Widget END -->


                            {#                            <a href="{% url 'webinterfaceapp:pca' %}" class="btn-link">#}
                            {#                                <h2>#}
                            {#                                    Principal Component Analysis#}
                            {#                                </h2>#}
                            {#                            </a>#}
                            {#                            <div class="small m-b-xs">#}
                            {#                                <span class="text-muted"><i class="fa fa-clock-o"></i>{% now "jS F Y H:i" %}</span>#}
                            {#                            </div>#}
                            {#                            <p>#}
                            {#                                PCA description here.#}
                            {#                            </p>#}
                            {#                            <div class="row">#}
                            {#                                <div class="col-md-6">#}
                            {#                                    <h5>Need to see:</h5>#}
                            {#                                    <a class="btn btn-primary btn-xs" href="{% url 'webinterfaceapp:pca' %}"#}
                            {#                                       type="button">Launch Analytics</a>#}
                            {#                                </div>#}
                            {#                                <div class="col-md-6">#}
                            {#                                    <div class="small text-right">#}
                            {#                                        <h5>Tags:</h5>#}
                            {#                                        <div><i class="fa fa-comments-o"> </i> Data Mining</div>#}
                            {#                                        <i class="fa fa-eye"> </i> Trend Prediction#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="ibox">


                        <div class="ibox-content">

                            <!-- TradingView Widget BEGIN -->
                            <div class="tradingview-widget-container">
                                <div class="tradingview-widget-container__widget"></div>
                                <div class="tradingview-widget-copyright"><a
                                        href="https://www.tradingview.com/markets/stocks-usa/" rel="noopener"
                                        target="_blank"><span class="blue-text">Stock Quotes</span></a></div>
                                <script type="text/javascript"
                                        src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js"
                                        async>
                                    {
                                        "gridLineColor"
                                    :
                                        "rgba(233, 233, 234, 1)",
                                            "scaleFontColor"
                                    :
                                        "rgba(218, 221, 224, 1)",
                                            "title"
                                    :
                                        "Stocks",
                                            "tabs"
                                    :
                                        [
                                            {
                                                "symbols": [
                                                    {
                                                        "s": "NYSE:JPM",
                                                        "d": "Jpmorgan Chase & Co"
                                                    },
                                                    {
                                                        "s": "NYSE:WFC",
                                                        "d": "Wells Fargo Co New"
                                                    },
                                                    {
                                                        "s": "NYSE:BAC",
                                                        "d": "Bank Amer Corp"
                                                    },
                                                    {
                                                        "s": "NYSE:HSBC",
                                                        "d": "Hsbc Hldgs Plc"
                                                    },
                                                    {
                                                        "s": "NYSE:C",
                                                        "d": "Citigroup Inc"
                                                    },
                                                    {
                                                        "s": "NYSE:MA",
                                                        "d": "Mastercard Incorporated"
                                                    }
                                                ],
                                                "title": "Financial"
                                            },
                                            {
                                                "symbols": [
                                                    {
                                                        "s": "NASDAQ:AAPL",
                                                        "d": "Apple"
                                                    },
                                                    {
                                                        "s": "NASDAQ:GOOGL",
                                                        "d": "Google Inc"
                                                    },
                                                    {
                                                        "s": "NASDAQ:MSFT",
                                                        "d": "Microsoft Corp"
                                                    },
                                                    {
                                                        "s": "NASDAQ:FB",
                                                        "d": "Facebook Inc"
                                                    },
                                                    {
                                                        "s": "NYSE:ORCL",
                                                        "d": "Oracle Corp"
                                                    },
                                                    {
                                                        "s": "NASDAQ:INTC",
                                                        "d": "Intel Corp"
                                                    }
                                                ],
                                                "title": "Technology"
                                            },
                                            {
                                                "symbols": [
                                                    {
                                                        "s": "NASDAQ:AMZN",
                                                        "d": "Amazon Com Inc"
                                                    },
                                                    {
                                                        "s": "NYSE:BABA",
                                                        "d": "Alibaba Group Hldg Ltd"
                                                    },
                                                    {
                                                        "s": "NYSE:T",
                                                        "d": "At&t Inc"
                                                    },
                                                    {
                                                        "s": "NYSE:WMT",
                                                        "d": "Wal-mart Stores Inc"
                                                    },
                                                    {
                                                        "s": "NYSE:CHL",
                                                        "d": "China Mobile Limited"
                                                    },
                                                    {
                                                        "s": "NYSE:V",
                                                        "d": "Visa Inc"
                                                    }
                                                ],
                                                "title": "Services"
                                            }
                                        ],
                                            "plotLineColorFalling"
                                    :
                                        "rgba(255, 74, 104, 1)",
                                            "plotLineColorGrowing"
                                    :
                                        "rgba(60, 188, 152, 1)",
                                            "showChart"
                                    :
                                        true,
                                            "height"
                                    :
                                        650,
                                            "locale"
                                    :
                                        "en",
                                            "symbolActiveColor"
                                    :
                                        "rgba(242, 250, 254, 1)",
                                            "belowLineFillColorFalling"
                                    :
                                        "rgba(255, 74, 104, 0.05)",
                                            "belowLineFillColorGrowing"
                                    :
                                        "rgba(60, 188, 152, 0.05)",
                                            "width"
                                    :
                                        460
                                    }
                                </script>
                            </div>
                            <!-- TradingView Widget END -->


                            {#                            <a href="{% url 'webinterfaceapp:pca' %}" class="btn-link">#}
                            {#                                <h2>#}
                            {#                                    Principal Component Analysis#}
                            {#                                </h2>#}
                            {#                            </a>#}
                            {#                            <div class="small m-b-xs">#}
                            {#                                <span class="text-muted"><i class="fa fa-clock-o"></i>{% now "jS F Y H:i" %}</span>#}
                            {#                            </div>#}
                            {#                            <p>#}
                            {#                                PCA description here.#}
                            {#                            </p>#}
                            {#                            <div class="row">#}
                            {#                                <div class="col-md-6">#}
                            {#                                    <h5>Need to see:</h5>#}
                            {#                                    <a class="btn btn-primary btn-xs" href="{% url 'webinterfaceapp:pca' %}"#}
                            {#                                       type="button">Launch Analytics</a>#}
                            {#                                </div>#}
                            {#                                <div class="col-md-6">#}
                            {#                                    <div class="small text-right">#}
                            {#                                        <h5>Tags:</h5>#}
                            {#                                        <div><i class="fa fa-comments-o"> </i> Data Mining</div>#}
                            {#                                        <i class="fa fa-eye"> </i> Trend Prediction#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="ibox">


                        <div class="ibox-content">

                            <!-- TradingView Widget BEGIN -->
                            <div class="tradingview-widget-container">
                                <div class="tradingview-widget-container__widget"></div>
                                <div class="tradingview-widget-copyright"><a
                                        href="https://www.tradingview.com/markets/currencies/forex-heat-map/"
                                        rel="noopener" target="_blank"><span class="blue-text">Forex Heat Map</span></a>
                                </div>
                                <script type="text/javascript"
                                        src="https://s3.tradingview.com/external-embedding/embed-widget-forex-heat-map.js"
                                        async>
                                    {
                                        "width"
                                    :
                                        "460",
                                            "height"
                                    :
                                        "650",
                                            "currencies"
                                    :
                                        [
                                            "EUR",
                                            "USD",
                                            "JPY",
                                            "GBP",
                                            "CHF",
                                            "AUD",
                                            "CAD",
                                            "NZD",
                                            "CNY"
                                        ],
                                            "locale"
                                    :
                                        "en"
                                    }
                                </script>
                            </div>
                            <!-- TradingView Widget END -->


                            {#                            <a href="{% url 'webinterfaceapp:pca' %}" class="btn-link">#}
                            {#                                <h2>#}
                            {#                                    Principal Component Analysis#}
                            {#                                </h2>#}
                            {#                            </a>#}
                            {#                            <div class="small m-b-xs">#}
                            {#                                <span class="text-muted"><i class="fa fa-clock-o"></i>{% now "jS F Y H:i" %}</span>#}
                            {#                            </div>#}
                            {#                            <p>#}
                            {#                                PCA description here.#}
                            {#                            </p>#}
                            {#                            <div class="row">#}
                            {#                                <div class="col-md-6">#}
                            {#                                    <h5>Need to see:</h5>#}
                            {#                                    <a class="btn btn-primary btn-xs" href="{% url 'webinterfaceapp:pca' %}"#}
                            {#                                       type="button">Launch Analytics</a>#}
                            {#                                </div>#}
                            {#                                <div class="col-md-6">#}
                            {#                                    <div class="small text-right">#}
                            {#                                        <h5>Tags:</h5>#}
                            {#                                        <div><i class="fa fa-comments-o"> </i> Data Mining</div>#}
                            {#                                        <i class="fa fa-eye"> </i> Trend Prediction#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}

                        </div>
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div>
                                        <span class="pull-right text-right">
                                        <small>Average value of sales in the past month in: <strong>Bangladesh</strong></small>
                                            <br/>
                                            All sales: 11,62,862
                                        </span>
                                <h1 class="m-b-xs">৳ 1,00,50,992</h1>
                                <h3 class="font-bold no-margins">
                                    Half-year revenue margin
                                </h3>
                                <small>Number of Newspapers Sold</small>
                            </div>

                            <div>
                                <canvas id="lineChart" height="70"></canvas>
                            </div>

                            <div class="m-t-md">
                                <small class="pull-right">
                                    <i class="fa fa-clock-o"> </i>
                                    Update on 16.07.2018
                                </small>
                                <small>
                                    <strong>Analysis of sales:</strong> The value has been changed over time, and last
                                    month reached a level over ৳ 10,050,992.
                                </small>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="ibox">


                        <div class="ibox-content">

                            <script type="text/javascript"
                                    src="https://ssl.gstatic.com/trends_nrtr/1709_RC01/embed_loader.js"></script>
                            <script type="text/javascript">

                                googleTrendsThird("bangladesh")

                                function googleTrendsThird(key) {
                                    trends.embed.renderExploreWidget("TIMESERIES",
                                        {
                                            "comparisonItem":
                                                [{"keyword": key, "geo": "BD", "time": "today 12-m"}],
                                            "category": 0,
                                            "property": ""
                                        }, {
                                            "exploreQuery": "geo=BD&q=bangla&date=today 12-m",
                                            "guestPath": "https://trends.google.com:443/trends/embed/"
                                        });


                                    {#trends.embed.renderTopChartsWidget("ff4e31df-19ca-4068-9375-93863bb97e95", {#}
                                    {#    "geo": "BD",#}
                                    {#    "guestPath": "https://trends.google.com:443/trends/embed/"#}
                                    {# }, 2018);#}


                                }
                            </script>


                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="ibox">


                        <div class="ibox-content">

                            <script type="text/javascript"
                                    src="https://ssl.gstatic.com/trends_nrtr/1709_RC01/embed_loader.js"></script>
                            <script type="text/javascript">

                                googleTrendsFirst("bangladesh");

                                function googleTrendsFirst(key) {
                                    trends.embed.renderExploreWidget("GEO_MAP", {
                                        "comparisonItem": [{
                                            "keyword": key,
                                            "geo": "BD",
                                            "time": "today 12-m"
                                        }], "category": 0, "property": ""
                                    }, {
                                        "exploreQuery": "geo=BD&q=bangla&date=today 12-m",
                                        "guestPath": "https://trends.google.com:443/trends/embed/"
                                    });

                                }
                            </script>


                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="ibox">


                        <div class="ibox-content">

                            <script type="text/javascript"
                                    src="https://ssl.gstatic.com/trends_nrtr/1709_RC01/embed_loader.js"></script>
                            <script type="text/javascript">

                                googleTrendsFouth();

                                function googleTrendsFouth() {


                                    trends.embed.renderTopChartsWidget("ff4e31df-19ca-4068-9375-93863bb97e95", {
                                        "geo": "BD",
                                        "guestPath": "https://trends.google.com:443/trends/embed/"
                                    }, 2018);


                                }
                            </script>


                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Twitter Activity Graph</h5>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-xs btn-white active">Today</button>
                                    <button type="button" class="btn btn-xs btn-white">Monthly</button>
                                    <button type="button" class="btn btn-xs btn-white">Annual</button>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="flot-dashboard-chart"></div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <ul class="stat-list">
                                        <li>
                                            <h2 class="no-margins">2,346</h2>
                                            <small>Hashtags in period</small>
                                            <div class="stat-percent">48% <i class="fa fa-level-up text-navy"></i>
                                            </div>
                                            <div class="progress progress-mini">
                                                <div style="width: 48%;" class="progress-bar"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <h2 class="no-margins ">4,422</h2>
                                            <small>Hashtags in last month</small>
                                            <div class="stat-percent">60% <i class="fa fa-level-down text-navy"></i>
                                            </div>
                                            <div class="progress progress-mini">
                                                <div style="width: 60%;" class="progress-bar"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <h2 class="no-margins ">9,180</h2>
                                            <small>Monthly Income from Advertisements</small>
                                            <div class="stat-percent">22% <i class="fa fa-bolt text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div style="width: 22%;" class="progress-bar"></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{% static "DashboardComponents/js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "DashboardComponents/js/bootstrap.min.js" %}"></script>
    <script src="{% static "DashboardComponents/js/plugins/metisMenu/jquery.metisMenu.js" %}"></script>
    <script src="{% static "DashboardComponents/js/plugins/slimscroll/jquery.slimscroll.min.js" %}"></script>

    <!-- Flot -->
    <script src="{% static "DashboardComponents/js/plugins/flot/jquery.flot.js" %}"></script>
    <script src="{% static "DashboardComponents/js/plugins/flot/jquery.flot.tooltip.min.js" %}"></script>
    <script src="{% static "DashboardComponents/js/plugins/flot/jquery.flot.spline.js" %}"></script>
    <script src="{% static "DashboardComponents/js/plugins/flot/jquery.flot.resize.js" %}"></script>
    <script src="{% static "DashboardComponents/js/plugins/flot/jquery.flot.pie.js" %}"></script>
    <script src="{% static "DashboardComponents/js/plugins/flot/jquery.flot.symbol.js" %}"></script>
    <script src="{% static "DashboardComponents/js/plugins/flot/jquery.flot.time.js" %}"></script>

    <!-- Peity -->
    <script src="{% static "DashboardComponents/js/plugins/peity/jquery.peity.min.js" %}"></script>
    <script src="{% static "DashboardComponents/js/demo/peity-demo.js" %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static "DashboardComponents/js/inspinia.js" %}"></script>
    <script src="{% static "DashboardComponents/js/plugins/pace/pace.min.js" %}"></script>

    <!-- jQuery UI -->
    <script src="{% static "DashboardComponents/js/plugins/jquery-ui/jquery-ui.min.js" %}"></script>

    <!-- Jvectormap -->
    <script src="{% static "DashboardComponents/js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js" %}"></script>
    <script src="{% static "DashboardComponents/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" %}"></script>

    <!-- EayPIE -->
    <script src="{% static "DashboardComponents/js/plugins/easypiechart/jquery.easypiechart.js" %}"></script>

    <!-- Sparkline -->
    <script src="{% static "DashboardComponents/js/plugins/sparkline/jquery.sparkline.min.js" %}"></script>

    <!-- Sparkline demo data  -->
    <script src="{% static "DashboardComponents/js/demo/sparkline-demo.js" %}"></script>

    <script>
        $(document).ready(function () {
            $('.chart').easyPieChart({
                barColor: '#f8ac59',
//                scaleColor: false,
                scaleLength: 5,
                lineWidth: 4,
                size: 80
            });

            $('.chart2').easyPieChart({
                barColor: '#1c84c6',
//                scaleColor: false,
                scaleLength: 5,
                lineWidth: 4,
                size: 80
            });

            var data2 = [
                [gd(2012, 1, 1), 7], [gd(2012, 1, 2), 6], [gd(2012, 1, 3), 4], [gd(2012, 1, 4), 8],
                [gd(2012, 1, 5), 9], [gd(2012, 1, 6), 7], [gd(2012, 1, 7), 5], [gd(2012, 1, 8), 4],
                [gd(2012, 1, 9), 7], [gd(2012, 1, 10), 8], [gd(2012, 1, 11), 9], [gd(2012, 1, 12), 6],
                [gd(2012, 1, 13), 4], [gd(2012, 1, 14), 5], [gd(2012, 1, 15), 11], [gd(2012, 1, 16), 8],
                [gd(2012, 1, 17), 8], [gd(2012, 1, 18), 11], [gd(2012, 1, 19), 11], [gd(2012, 1, 20), 6],
                [gd(2012, 1, 21), 6], [gd(2012, 1, 22), 8], [gd(2012, 1, 23), 11], [gd(2012, 1, 24), 13],
                [gd(2012, 1, 25), 7], [gd(2012, 1, 26), 9], [gd(2012, 1, 27), 9], [gd(2012, 1, 28), 8],
                [gd(2012, 1, 29), 5], [gd(2012, 1, 30), 8], [gd(2012, 1, 31), 25]
            ];

            var data3 = [
                [gd(2012, 1, 1), 800], [gd(2012, 1, 2), 500], [gd(2012, 1, 3), 600], [gd(2012, 1, 4), 700],
                [gd(2012, 1, 5), 500], [gd(2012, 1, 6), 456], [gd(2012, 1, 7), 800], [gd(2012, 1, 8), 589],
                [gd(2012, 1, 9), 467], [gd(2012, 1, 10), 876], [gd(2012, 1, 11), 689], [gd(2012, 1, 12), 700],
                [gd(2012, 1, 13), 500], [gd(2012, 1, 14), 600], [gd(2012, 1, 15), 700], [gd(2012, 1, 16), 786],
                [gd(2012, 1, 17), 345], [gd(2012, 1, 18), 888], [gd(2012, 1, 19), 888], [gd(2012, 1, 20), 888],
                [gd(2012, 1, 21), 987], [gd(2012, 1, 22), 444], [gd(2012, 1, 23), 999], [gd(2012, 1, 24), 567],
                [gd(2012, 1, 25), 786], [gd(2012, 1, 26), 666], [gd(2012, 1, 27), 888], [gd(2012, 1, 28), 900],
                [gd(2012, 1, 29), 178], [gd(2012, 1, 30), 555], [gd(2012, 1, 31), 993]
            ];


            var dataset = [
                {
                    label: "User Login",
                    data: data3,
                    color: "#1ab394",
                    bars: {
                        show: true,
                        align: "center",
                        barWidth: 24 * 60 * 60 * 600,
                        lineWidth: 0
                    }

                }, {
                    label: "Number of Tweets",
                    data: data2,
                    yaxis: 2,
                    color: "#1C84C6",
                    lines: {
                        lineWidth: 1,
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 0.2
                            }, {
                                opacity: 0.4
                            }]
                        }
                    },
                    splines: {
                        show: false,
                        tension: 0.6,
                        lineWidth: 1,
                        fill: 0.1
                    },
                }
            ];


            var options = {
                xaxis: {
                    mode: "time",
                    tickSize: [3, "day"],
                    tickLength: 0,
                    axisLabel: "Date",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Arial',
                    axisLabelPadding: 10,
                    color: "#d5d5d5"
                },
                yaxes: [{
                    position: "left",
                    max: 1070,
                    color: "#d5d5d5",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Arial',
                    axisLabelPadding: 3
                }, {
                    position: "right",
                    clolor: "#d5d5d5",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: ' Arial',
                    axisLabelPadding: 67
                }
                ],
                legend: {
                    noColumns: 1,
                    labelBoxBorderColor: "#000000",
                    position: "nw"
                },
                grid: {
                    hoverable: false,
                    borderWidth: 0
                }
            };

            function gd(year, month, day) {
                return new Date(year, month - 1, day).getTime();
            }

            var previousPoint = null, previousLabel = null;

            $.plot($("#flot-dashboard-chart"), dataset, options);

            var mapData = {
                "US": 298,
                "SA": 200,
                "DE": 220,
                "FR": 540,
                "CN": 120,
                "AU": 760,
                "BR": 550,
                "IN": 200,
                "GB": 120,
            };

            $('#world-map').vectorMap({
                map: 'world_mill_en',
                backgroundColor: "transparent",
                regionStyle: {
                    initial: {
                        fill: '#e4e4e4',
                        "fill-opacity": 0.9,
                        stroke: 'none',
                        "stroke-width": 0,
                        "stroke-opacity": 0
                    }
                },

                series: {
                    regions: [{
                        values: mapData,
                        scale: ["#1ab394", "#22d6b1"],
                        normalizeFunction: 'polynomial'
                    }]
                },
            });
        });
    </script>
    <script>
        $(document).ready(function () {

            var lineData = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        label: "Prothom Alo",
                        backgroundColor: "rgba(26,179,148,0.5)",
                        borderColor: "rgba(26,179,148,0.7)",
                        pointBackgroundColor: "rgba(26,179,148,1)",
                        pointBorderColor: "#fff",
                        data: [28, 48, 40, 19, 86, 27, 90]
                    },
                    {
                        label: "Daily Star",
                        backgroundColor: "rgba(220,220,220,0.5)",
                        borderColor: "rgba(220,220,220,1)",
                        pointBackgroundColor: "rgba(220,220,220,1)",
                        pointBorderColor: "#fff",
                        data: [65, 59, 80, 81, 56, 55, 40]
                    }
                ]
            };

            var lineOptions = {
                responsive: true
            };


            var ctx = document.getElementById("lineChart").getContext("2d");
            new Chart(ctx, {type: 'line', data: lineData, options: lineOptions});

        });
    </script>

{% endblock %}