{% extends "./public/dashboardBase.html" %}
{% load static %}

{% block main_content %}

    <div id="page-wrapper" class="gray-bg">

        {% include 'webinterfaceapp/public/CommonHeadBar.html' %}

        <style type="text/css">
            @media screen and (max-width: 1400px) and (min-width: 800px) {

            }

            @media screen and (max-width: 2000px) and (min-width: 1401px) {

            }

            #loading {
                position: fixed;
                margin: 0 auto;
                width: 20%;
                z-index: 15;
                top: 50%;
                left: 40%;
            }

            .widget {
                margin-bottom: 0px;
                margin-top: 0px;
            }

            #sentiment_trend_id {
                width: 100%;
                height: 500px;
            }
        </style>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2>Home </h2>
                <ol class="breadcrumb">
                     <li>
                        <a href="{% url 'webinterfaceapp:home' %}">Home</a>
                    </li>
                    <li class="">
                        <a href="{% url 'webinterfaceapp:stock_analytics' %}">Stock</a>
                    </li>
                    <li class="active">
                        <a href="{% url 'webinterfaceapp:stock_analysis' %}"><strong>Analysis</strong></a>
                    </li>
                </ol>
            </div>
            <div class="col-sm-8">

            </div>
        </div>

        {#  Start: Loader for showing the progress of data collection process#}
        <div class="col-md-2" id="loading">
            <div class="ibox-content text-center" style="border: 1px dotted;">
                <div class="spiner-example" style="height: 50px; padding-top: 10px">
                    <div class="sk-spinner sk-spinner-three-bounce">
                        <div class="sk-bounce1"></div>
                        <div class="sk-bounce2"></div>
                        <div class="sk-bounce3"></div>
                    </div>
                </div>
                <h5 id="set_status">Process Started</h5>
            </div>
        </div>
        {#  End:  Loader for showing the progress of data collection process#}


        <div class="wrapper wrapper-content animated fadeInRight">

            {#  Start :: Top Row containing search text box and positive negative neutral hit count#}
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Particular Stock</h5>

                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">Config 1</a>
                                    </li>
                                    <li><a href="#">Config 2</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group row" id="stock-selected">
                                        <label class="col-md-2  control-label">Stock</label>
                                        <div class="col-md-10">
                                            <select class="form-control m-b" name="SearchingCriteria" id="stock-select_box">
                                                <option value="MSFT" selected>Microsoft</option>
                                                <option value="AAPL" {% if result.SearchingCriteria == 1 %}
                                                        selected{% endif %} >APPLE
                                                </option>
                                                <option value="GOOG" {% if result.SearchingCriteria == 2 %}
                                                        selected{% endif %} >GOOGLE
                                                </option>
                                                <option value="AMZN" {% if result.SearchingCriteria == 3 %}
                                                        selected{% endif %} >AMAZON
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row pull-right">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <button id="start_analysis"
                                                            class="btn btn-primary pull-right m-t-n-xs"
                                                            name="crawl">Start
                                                    </button>
                                                </div>
                                                <div class="col-md-6">
                                                    <button class="btn btn-primary pull-right m-t-n-xs" name="crawl"
                                                            id="stop_analysis">Stop
                                                    </button>
                                                </div>
                                            </div>

                                    </div>


                                </div>
                            </div>



                            <div class="hr-line-dashed"></div>


                        </div>
                    </div>

                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Stock Comparison</h5>

                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">Config 1</a>
                                    </li>
                                    <li><a href="#">Config 2</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group row pull-right">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <button id="start_compare_analysis"
                                                            class="btn btn-primary pull-right m-t-n-xs"
                                                            name="crawl">Start
                                                    </button>
                                                </div>
                                                <div class="col-md-6">
                                                    <button class="btn btn-primary pull-right m-t-n-xs" name="crawl"
                                                            id="stop_compare_analysis">Stop
                                                    </button>
                                                </div>
                                            </div>

                                    </div>


                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>


                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Search Result </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-striped" id="liveTableData">
                                    <thead>
{#                                        <tr>#}
{#                                            <th>#</th>#}
{#                                            <th class="col-md-3 col-xs-3 col-lg-3">result</th>#}
{##}
{#                                        </tr>#}
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="custom-charts">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Bubble Chart</h5>

                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">Config 1</a>
                                    </li>
                                    <li><a href="#">Config 2</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <center>
                                        <div id="bubbleChart"></div>
                                    </center>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Doughnut Chart</h5>

                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">Config 1</a>
                                    </li>
                                    <li><a href="#">Config 2</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    {#                                    <div id="pieChart"></div>#}
                                    {#                                    <div id="doughnutChart"></div>#}
                                    <canvas id="doughnutChart" width="800" height="450"></canvas>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>


        </div>
{#        {% include 'webinterfaceapp/public/CommonFooter.html' %}#}

    </div>

    <script>


        $(document).ready(function () {

            InitializeUI();

            bubbleSvg = initializeBubbleChart();


            $('#start_analysis').click(function () {
                console.log("stock");
                GetAjaxResult("stock");
            });

            $('#start_compare_analysis').click(function () {
                {#console.log("stock_compare");#}
                GetAjaxResult("stock_compare");
            });

            var itemCollected = 0;
            var crawlCounter = 1;
            var index = 0, historyKey = '';
            var timerTwitter;
            var timerNews;
            var timerStock;

            function twitter_result(){
                var key = $('#twitter-text').val();
                console.log(key);
                var text = {
                    'key' : key
                };
                timerTwitter = setInterval(function () {
                    $.ajax({
                        url: "{% url 'webinterfaceapp:twitter' %}",
                        type: 'GET',
                        dataType: 'json',
                        data: text,
                        success: function (data) {
                            console.log(data);
                            if (data.status) {
                                AppendToDataTable(data.words);

                                _data = {"children": data.word_list};

                                bubbleChart(_data, bubbleSvg);

                                doughnutChartCustom(data.word_list);

                            }

                        }
                    });
                }, 10000);
            }

            function news_result(){
                timerNews = setInterval(function () {
                    $.ajax({
                        url: "{% url 'webinterfaceapp:news' %}",
                        type: 'GET',
                        dataType: 'json',

                        success: function (data) {
                            console.log(data);
                            if (data.status) {
                                AppendToDataTable(data.words);

                                _data = {"children": data.word_list};

                                bubbleChart(_data, bubbleSvg);

                                doughnutChartCustom(data.word_list);

                            }

                        }
                    });
                }, 10000);
            }

            function stock_result(){
                var value = $('#stock-select_box').val();
                console.log(value);
                var text = {
                    'key' : value
                 };

                $.ajax({
                        url: "{% url 'webinterfaceapp:stock' %}",
                        type: 'GET',
                        dataType: 'json',
                        data: text,
                        success: function (data) {
                            console.log(data);
                            if (data.status) {
                                AppendToDataTableStock(data);
                                Stop();

                            }

                        }
                    });


            }

            function stock_compare_result(){
                {#var value = $('#stock-select_box').val();#}
                {#console.log(value);#}
                {#var text = {#}
                {#    'key' : value#}
                {# };#}
                console.log("Stock Compare");
                $.ajax({
                        url: "{% url 'webinterfaceapp:stock-compare' %}",
                        type: 'GET',
                        dataType: 'json',
                        {#data: text,#}
                        success: function (data) {
                            console.log(data);
                            if (data.status) {
                                AppendToDataTableStockCompare(data);
                                Stop();

                                {#_data = {"children": data.word_list};#}

                                {#bubbleChart(_data, bubbleSvg);#}
                                {##}
                                {#doughnutChartCustom(data.word_list);#}

                            }

                        }
                    });


            }


            function GetAjaxResult(option) {

                $("#loading").show();
                $('#set_status').html("Processing Started...");
                $("#stop_analysis").prop("disabled", false);
                $("#start_analysis").prop("disabled", true);


                if(option === "twitter"){
                    $('#custom-charts').show();
                    twitter_result();
                }else if(option === "news"){
                    $('#custom-charts').show();
                    news_result();
                }else if(option === "stock"){
                    $("#liveTableData > tbody > tr ").remove();
                    $('#custom-charts').hide();
                    stock_result();
                }else if(option === "stock_compare"){
                    $("#liveTableData > tbody > tr ").remove();
                    $('#custom-charts').hide();
                    stock_compare_result();
                }

            }

            $('#stop_analysis').click(function () {
                Stop();
                $.ajax({
                    url: "{% url 'webinterfaceapp:stop' %}",
                    data: 'source=twitter',
                    type: 'GET',
                    success: function (data) {
                        if (data.status) {
                            console.log("procssing stopped successfully");
                        } else {
                            console.log("processing cannot be stopped.");
                        }

                    }
                });
            });

            $('#stop_compare_analysis').click(function () {
                Stop();

            });

            function Stop() {
                $("#loading").hide();
                $("#start_analysis").prop("disabled", false);
                $("#stop_analysis").prop("disabled", true);
                clearInterval(timerTwitter);
                clearInterval(timerNews);
                clearInterval(timerStock);
            }

            function InitializeUI() {
                $("#loading").hide();
                $("#liveTableData > tbody").html("");

                $('#set_status').html("Twitter Crawling Not Started...");
                //$("#start").prop("disabled", true);
                $("#stop_analysis").prop("disabled", true);
                index = 0;
                historyKey = '';

            }

            function AppendToDataTable(obj) {
                var tableRow;
                $("#liveTableData > tbody > tr ").remove();
                for (var i = 0; i < obj.length; i++) {
                    if (obj[i] !== "" && typeof (obj[i]) != 'undefined') {
                        var resultData = obj[i];
                        var index = i + 1;

                        tableRow = "<tr><td>" + String(index) + "</td><td>" + String(resultData) + "</td><tr>";

                        $("#liveTableData > tbody").append(tableRow);

                    }
                }

            }

            function AppendToDataTableStock(obj) {
                var tableRow;
                $("#liveTableData > thead > tr ").remove();
                $("#liveTableData > tbody > tr ").remove();

                var dt = obj.datetime;
                var dim = obj.dim;

                var tableHeader = "<tr><th>Date</th><th class='col-md-3 col-xs-3 col-lg-3'>result</th></tr>";

                $("#liveTableData > thead").append(tableHeader);

                for (var i = 0; i < dim.length; i++) {
                    if (dim[i] !== "" && typeof (dim[i]) != 'undefined') {
                        var resultDim = dim[i];
                        var resultDT = dt[i];
                        var index = i + 1;

                        tableRow = "<tr><td>" + String(resultDT) + "</td><td>" + String(resultDim) + "</td><tr>";

                        $("#liveTableData > tbody").append(tableRow);

                    }
                }

            }

            function AppendToDataTableStockCompare(obj) {
                var tableRow;
                $("#liveTableData > thead > tr ").remove();
                $("#liveTableData > tbody > tr ").remove();

                var dt = obj.datetime;
                var dim = obj.dim;
                var dim_MSFT = obj.dim.MSFT;
                var dim_AAPL = obj.dim.AAPL;
                var dim_GOOG = obj.dim.GOOG;
                var dim_AMZN = obj.dim.AMZN;

                var tableHeader = "<tr><td>DATE</td><td>MSFT</td><td>AAPL</td><td>GOOG</td><td>AMZN</td><tr>";

                $("#liveTableData > thead").append(tableHeader);


                for (var i = 0; i < dim_MSFT.length; i++) {
                    if (dim_MSFT[i] !== "" && typeof (dim_MSFT[i]) != 'undefined') {
                        var resultDimMSFT = dim_MSFT[i];
                        var resultDimAAPL = dim_AAPL[i];
                        var resultDimGOOG = dim_GOOG[i];
                        var resultDimAMZN = dim_AMZN[i];
                        var resultDT = dt[i];
                        var index = i + 1;



                        tableRow = "<tr><td>" + String(resultDT) + "</td><td>" + String(resultDimMSFT) + "</td><td>" + String(resultDimAAPL) + "</td><td>" + String(resultDimGOOG) + "</td><td>" + String(resultDimAMZN) + "</td><tr>";

                        $("#liveTableData > tbody").append(tableRow);

                    }
                }

            }

        });


    </script>



{% endblock %}
